{% extends "admin/layout-admin.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <a href="#" class="btn btn-sm btn-fill btn-info text-uppercase" style="margin: 0 0 10px 0;">
                <span><i class="fas fa-plus"></i> Ajouter une colère</span>
            </a>
        </div>
    </div>
{% endblock %}