{% extends "admin/layout-admin.html.twig" %}

{% block content %}
    <div class="container">
        <table class="table-responsive table-bordered table" style="background-color: white">
            <thead>
            <tr>
                <th>titre</th>
                <th>contenu</th>
                <th>date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>test</td>
                <td>test</td>
                <td>test</td>
                <td>test</td>
            </tr>
            </tbody>
        </table>
    </div>

{% endblock %}