{% extends "admin/layout-login.html.twig" %}

{% block content %}
    <div style="margin: auto">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-center" style="padding: 30px;">
                    <h2 style="margin-bottom: 30px">Les Colères Justes</h2>
                    <form action="">
                        <input type="email" style="width: 80%; margin-bottom: 5px; padding: 5px" placeholder="test@test.fr">
                        <input type="password" style="width: 80%; padding: 5px">
                        <button type="submit" class="btn btn-info" style="margin-top: 15px">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}