body {
    /*background-color: #F7F7F8;*/
}

/*main {
    height: 100vh;
    display: flex;
}*/

body.bg-login {
    background-image: url("../img/bglogin.png");
}

div.content {
    font-family: 'Open Sans', sans-serif;
}

.table {
    background-color: white;
}

.status {
    color: #4982C7;
    font-family: 'Open Sans', sans-serif;
}

.card {
    padding: 15px;
}

div.card .form form {
    width: 100%;
    margin: auto;
}

div#news_inserted_at_time {
    display: none;
}

div#news_inserted_at_date {
    margin-bottom: 15px;
}

.add-title div label {
    display: block;
    font-size: 12pt;
}

.add-title div input {
    width: 100%;
    margin-bottom: 15px;
}

.add-title div textarea {
    height: 150px;
    border-color: lightgray;
}

.publication {
    display: none;
}

#edit-button {
    margin-top: 15px;
}

p {
    font-size: 10pt;
}

.md-editor>.md-header {
    background: #eee;
}

.btn-toolbar .btn-group .btn {
    border: 1px solid #888888;
    margin: 0 1px;
    background: white;
}

.md-editor>textarea {
    background: white;
    border-bottom: none;
    border-top: 1px solid #ddd;
    padding: 15px;
}

.content a, h3, p {
    font-family: 'Open Sans', sans-serif;
}

.page-item.active .page-link {
    background-color: #4982C7;
    border-color: #4982C7;
}

.btn-info.btn-fill, .btn-info.btn-fill:hover {
    background-color: #4982C7;
}

.btn-info, .btn-info:hover {
    border-color: #4982C7;
}

.icon-news, .icon-news:hover {
    color: #4982C7;
}
