{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="text-center">
        <div id="carouselExampleIndicators" class="carousel slide align" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner title" role="listbox" id="concept">
                <div class="carousel-item active">
                    <div class="text-center animated fadeIn title-concept title-concept-first-slide">
                        <div class="content-concept" style="margin: 80px 0 0 0;">
                            <h2 class="text-uppercase">le concept</h2>
                            <p class="explication">
                                Il est parfois des colères que l'on respecte.
                                <br>
                                L'idée directrice est de montrer à travers cette série de photos, des femmes et des hommes
                                engagés, souvent dans des causes au service des autres et qui, par leur refus d'abdiquer se sont
                                un jour mis en colère.
                                <br>
                                S'indigner pour des causes justes : c'est le thème des « colères justes » et c'est ce que j'ai voulu mettre en
                                scène et en image.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item title" id="definition">
                    <div class="text-center animated fadeIn title-concept">
                        <h2 class="text-uppercase">la colère</h2>
                        <h4 class="text-uppercase">salutaire et honorable</h4>
                        <p class="explication text-justify">
                            En général, c'est notre idéal de justice qui réveille notre colère. Elle surgit suite aux querelles
                            d'insatisfaction, la protection de territoires, la défense de concepts philosophiques, politiques ou
                            religieux, le manque de respect envers une race ou une culture mais aussi dans la peur : la peur du
                            manque, la peur de la différence, l'insécurité... Elle surgit au détour d'idées fortes, qui, depuis
                            la nuit des temps portent l'humanité.
                            <br>
                            Elle indique un motif profond de mécontentement et tend à mobiliser toutes nos forces, conscientes ou
                            insoupçonnées, pour mener une action, porter un message.
                            <br>
                            Qu'elle soit spontanée ou plus réfléchie, si la colère soulage, elle nous révèle avant tout aux autres
                            et à nous-même, à ce que l'être humain a de plus essentiel, parfois de plus originel.
                            <br>
                            De nos jours, l'époque est à la peur. Il ne faut pas faire de vagues, et surtout ne pas se mettre en
                            colère. Celle-ci devient signe d'une mauvaise gestion de ses émotions et n'est plus admissible
                            socialement comme elle l'était dans la Grèce antique où les vertus de sa salubrité étaient saluées.
                            <br>
                            Et pourtant, l'oeuvre fondatrice de l'occident : l'Iliade, ne s'ouvre-t-elle pas sur une colère du héros
                            Achille ?
                        </p>
                    </div>
                </div>
                <div class="carousel-item title" id="definition2">
                    <div class="text-center animated fadeIn title-concept">
                        <h2 class="text-uppercase">la colère</h2>
                        <h4 class="text-uppercase">impulsive et violente</h4>
                        <p class="explication text-justify">
                            Tout le monde lutte avec la colère, car elle est en chacun de nous. Pourtant la psychologie met en
                            évidence les effets nocifs de la censure de la colère, qui enferme l'individu dans des zones de non-dits
                            et parasite la relation à soi-même et aux autres. Si nos cultures l'ont mises au banc de la société ; chez
                            les catholiques, la colère est un des sept péchés capitaux et chez les bouddhistes, elle fait partie
                            des trois poisons de l'esprit... <br>Est-ce une raison pour en avoir peur ? La colère déclenche plusieurs
                            modifications physiologiques préparant le corps au mouvement et à la réaction. Elles se traduisent
                            par une accélération du rythme cardiaque et un afflux de sang dans certaines parties du corps, ce qui
                            colore la peau en rouge. <br>La colère provoque également une contraction du corps dans son ensemble.
                            Les mains tendent à se fermer en poing, les sourcils se froncent, les mâchoires se serrent et les narines
                            se dilatent, donnant une expression dure au visage. Le sujet ressent alors un échauffement de la
                            peau et le besoin d'agir.
                            <br>
                            Durant la colère, la peur n'existe pas, c'est en quoi elle est une émotion brute.
                        </p>
                    </div>
                </div>
                <div class="carousel-item title" id="traitement">
                    <div class="text-center animated fadeIn title-concept">
                        <h2 class="text-uppercase">le traitement</h2>
                        <p class="explication text-justify">
                            Avec ce projet artistique, je prends le parti de mettre en scène dans des tableaux photographiques des colères
                            mémorables en représentant leurs auteurs sous les traits d'un colosse aux muscles surdéveloppés. De
                            cette manière, je rends la scène plus dramatique, plus impressionnante, je lui donne donc plus de force.
                            De mon envie de rendre hommage à ce que j'appelle les « colères justes » est née cette idée de série :
                            <br>
                            Six personnages. Six mises en scènes différentes. Six travaux artistiques qui mélangent recherches,
                            prises de vue photographiques, retouches et graphisme dans un seul but : exprimer ces « colères justes »
                            qui ont un jour, pour le meilleur, changé notre vision du monde.
                            <br>
                            Six portraits, sélectionnés de manière tout à fait subjective mais dont la force évocatrice me parle,
                            nous parle tous. Six personnages de l'histoire contemporaine dont la colère ne résulte pas d'un désir
                            de se justifier ou de se défendre face au monde ou à l'adversité mais, au contraire, se met spontanément au
                            service des autres, d'un principe ou d'une cause. Ce sont des personnages qui, dans l'affirmation de leur
                            colère ont démontré une volonté aussi personnelle qu'altruiste, et dont je veux saluer la posture.
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.carousel').carousel();
    </script>
{% endblock %}
