{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="title">
        <a href="{{ path('concept_page') }}" class="title-to-concept">
            <h1 class="text-uppercase text-center">les colères justes</h1>
            <p style="font-family: 'Gill Sans MT Condensed Regular', sans-serif; text-align: center; font-size: 30pt">Série photographique</p>
            <p style="font-family: 'Gill Sans MT Condensed Regular', sans-serif; text-align: center; font-size: 30pt; padding-top: 40px">Cyril Delvart</p>
        </a>
    </div>
{% endblock %}