{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="title">
        <a href="{{ path('concept_page') }}" class="title-to-concept">
            <h1 class="text-uppercase text-center">les colères justes</h1>
            <p class="text-center title-home">Série photographique</p>
            <p class="text-center title-home pad-t-40">Cyril Delvart</p>
        </a>
    </div>
{% endblock %}
