{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="title">
        <a href="{{ path('concept_page') }}" class="title-to-concept">
            <h1 class="text-uppercase text-center">les colères justes</h1>
        </a>
    </div>
{% endblock %}