{% extends "front/layout.html.twig" %}

{% block content %}
<div class="title animated fadeIn">
    <h2 class="text-uppercase text-center" style="padding-bottom: 20px">Contact</h2>
    <div class="row">
        <div class="col-md-6 text-justify" style="padding: 0 30px; border-right: 1px solid white;">
            <p class="explication">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ac nulla sit amet ullamcorper. Aenean quis quam massa. Ut posuere volutpat semper. Proin ac gravida magna, sed fringilla turpis. Donec euismod, dui id tincidunt imperdiet, libero tellus iaculis magna, id pharetra orci enim vel nulla. Fusce dignissim venenatis felis id tristique. Quisque ultrices eu nisi eu blandit. Nulla velit mi, aliquam vel suscipit nec, laoreet vulputate risus.
                <br><br>
                Curabitur tristique ultrices vehicula. Donec id orci sagittis, scelerisque tellus ac, congue orci. Morbi ac tortor risus. Nullam in nulla nec libero gravida ultricies sed ac tellus. Quisque vestibulum non mauris vitae posuere. Aenean ut ultricies nisi. Mauris sed dolor sagittis leo sollicitudin lobortis.
            </p>
        </div>
        <div class="col-md-6" style="padding: 0 30px;">
            <!--<form action="">
                <div class="">
                    <input type="text" placeholder="Nom" style="width: 100%; margin-bottom: 15px; padding: 5px 5px 5px 10px">
                    <input type="text" placeholder="Prénom" style="width: 100%; margin-bottom: 15px; padding: 5px 5px 5px 10px">
                    <input type="email" placeholder="test@test.fr" style="width: 100%; margin-bottom: 15px; padding: 5px 5px 5px 10px">
                    <textarea name="message" id="" cols="30" rows="10" style="width: 100%; height: 150px; margin-bottom: 15px; padding: 5px 5px 5px 10px">Message</textarea>
                    <div class="button" style="text-align: center">
                        <button type="submit">Envoyer</button>
                    </div>
                </div>
            </form>-->
            {{form_start(form)}}
            {{form_widget(form)}}
            <button type="submit">Envoyer</button>
            {{form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}
