{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="align animated fadeIn">
        <div class="title">
            <div class="row">
                <div class="col-md-6 align">
                    <div class="title text-center" style="border-right: 1px solid white;">
                        <img src="{{ asset('template/img/user.png') }}" alt="" class="user">
                    </div>
                </div>
                <div class="col-md-6 align">
                    <div class="title">
                        <p class="explication">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia ac nulla sit amet ullamcorper. Aenean quis quam massa. Ut posuere volutpat semper. Proin ac gravida magna, sed fringilla turpis. Donec euismod, dui id tincidunt imperdiet, libero tellus iaculis magna, id pharetra orci enim vel nulla. Fusce dignissim venenatis felis id tristique. Quisque ultrices eu nisi eu blandit. Nulla velit mi, aliquam vel suscipit nec, laoreet vulputate risus.
                            <br><br>
                            Curabitur tristique ultrices vehicula. Donec id orci sagittis, scelerisque tellus ac, congue orci. Morbi ac tortor risus. Nullam in nulla nec libero gravida ultricies sed ac tellus. Quisque vestibulum non mauris vitae posuere. Aenean ut ultricies nisi. Mauris sed dolor sagittis leo sollicitudin lobortis.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}