{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="align animated fadeIn">
        <div class="title">
            <div class="row">
                <!--<div class="col-md-6 align">
                    <div class="title text-center" style="border-right: 1px solid white;">
                        <img src="{#{{ asset('template/img/user.png') }}#}" alt="" class="user">
                    </div>
                </div>-->
                <div class="col-md-3"></div>
                <div class="col-md-6 text-justify">
                    <div class="title title-about">
                        <h2 class="text-uppercase text-center">biographie</h2>
                        {% for about in abouts %}
                            {{ about.content|markdown }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
