{% extends "front/layout.html.twig" %}

{% block content %}
    <div class="align animated fadeIn">
        <div class="title">
            <div class="row">
                <!--<div class="col-md-6 align">
                    <div class="title text-center" style="border-right: 1px solid white;">
                        <img src="{#{{ asset('template/img/user.png') }}#}" alt="" class="user">
                    </div>
                </div>-->
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center">
                    <div class="title">
                        <h2 class="text-uppercase" style="padding-bottom: 25px">biographie</h2>
                        <p class="explication">
                            Cyril Delvart débute sa carrière dans le long métrage auprès de réalisateurs comme Mathieu Kassovitz ou
                            Bernie Bonvoisin.
                        </p>
                        <p class="explication">
                            Par la suite, il se lance dans la réalisation de courts métrages, qui seront tous primés dans différents pays,
                            et son film « Dans la Lune » est récompensé par la Fondation Beaumarchais.
                        </p>
                        <p class="explication">
                            Il découvre la publicité par le biais de la post production.
                            <br>
                            Au bout de quelques années passées auprès des agences,
                            <br>
                            naturellement celles-ci lui confient la réalisation de films.
                        </p>
                        <p class="explication">
                            Dans le même temps, Cyril continu de développer ses projets de longs métrages.
                            <br>
                            Son expérience de la fiction, le pousse naturellement vers les projets scénarisés, <br>porteurs de sens.
                            <br>
                            C'est pourquoi, même à travers ses réalisations publicitaires, il garde à l'esprit que ce qui justifie
                            unfilm, au-delà des considérations esthétiques, c'est avant tout le propos.
                        </p>
                        <p class="explication">
                            Aujourd'hui, il présente sa première série photographique intitulée "Les colères justes" dans laquelle
                            il met en scène des personnes engagées, qui par leur refus d'abdiquer se sont mis un jour en colère.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}